h1{font-family: 'Comfortaa', cursive;
  color: rgb(26,165,152);
  text-align:center;
font-size:120px;}
p{font-family: 'Comfortaa', cursive;
color:white;
    text-align:center;
    font-family;verdanna;
    font-size:80px;}
nav{ background-color:rgb(26,165,152);
      text-align:center;
      color:white;
      font-size:100px;}
div{background-color: rgb(114,130,129);
font-size: 80px;}
img{margin-top: 100px;
margin-bottom: 100px;
margin-right: 800px;
margin-left: 1000px;
height:30%;
width:auto;}
input{font-size: 90px;}
  
