h1{font-family: 'Comfortaa', cursive;
  color: rgb(26,165,152);
  text-align:center;
font-size:120px;}
p{font-family: 'Comfortaa', cursive;
color:white;
    text-align:center;
    font-family;verdanna;
    font-size:80px;}
nav{ background-color:rgb(26,165,152);
      text-align:center;
      color:white;
      font-size:80px;}
div{background-color: rgb(114,130,129);}
    p{
      float: right;}
img{float:left;}

  
