@media and all(orientation:landscape) {text-align-center;
 color:rgb(26,165,152};}
h1{font-family: 'Comfortaa', cursive;
 color:rgb(26,165,152);
  text-align:center;
font-size:120px;}
  p{ color: rgb(26,165,152);
    font-family: 'Comfortaa', cursive;
    display:block;
    text-align: center;

    font-size:60px;}
    div{
      text-align:center;
      color:white;
      font-size:75px;}

      nav{text-align: center;
        background-color: rgb(26, 165, 152);

        font-size: 100px;
        overflow-x: hidden;
      padding-top:14px 16px;
  }
      h1.thick {
    font-weight: bold;
}
p.thicker {
    font-weight: 2000;
}

input{font-size: 90px;}

    img{
      margin-top: 100px;
    margin-bottom: 100px;
  margin-left: 100px;
margin-right: 200px;}
#center{margin-top: 100px;
margin-bottom: 100px;
margin-left: 100px;
margin-right:200px;}
