
h1{
 color:white;
  text-align:center;
font-size:120px;}
  p{display:block;
    text-align: center;
    font-family;verdanna;
    font-size:36px;
    color:white;}
      h1.thick {
    font-weight: bold;
}
p.thicker {
    font-weight: 2000;
}

    img {display:block;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 400px;
}
#blue{color:rgb(66,244,209);
