

h1{font-family: 'Comfortaa', cursive;
 color:rgb(26,165,152);
  text-align:center;
font-size:120px;}
  p{ color: rgb(26,165,152);
    font-family: 'Comfortaa', cursive;
    display:block;
    text-align: center;
    font-family;verdanna;
    font-size:36px;}
    div{
      text-align:center;
      color:white;
      font-size:75px;}

      nav{text-align: center;
        background-color: rgb(26, 165, 152);
  font-size: 100px;
        overflow-x: hidden;
      padding-top:14px 16px;
  }
      h1.thick {
    font-weight: bold;
}
p.thicker {
    font-weight: 2000;
}
img{margin-top: 100px;
margin-bottom: 100px;
margin-right: 900px;
margin-left: 1100px;
height:20%;
width:auto;}

input{font-size: 90px;}
